body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  margin-top: 5px;
  margin-bottom: 45px;
}

input[type="number"] {
  width: 200px;
  font-size: 20px;
  padding: 10px;
  margin: 15px 0;
  border-radius: 8px;
  text-align: right;
  border: 1px solid #ccc;
}

button {
  font-size: 20px;
  padding: 10px 25px;
  border: none;
  background-color: #ffcc66;
  border-radius: 12px;
  cursor: pointer;
  width : 80%;
  transition: transform 0.2s ease; /* ←ここに追加でもOK */
}

button:hover {
    transform: scale(1.05);
}

#result-area {
  margin-bottom: 60px;/* 数字を変えるだけで調整OK */
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.9);
}

th, td {
  border: 1px solid #ccc;
  padding: 10px 20px;
  text-align: right;
  min-width: 70px;
}

#input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

